html,
body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter-VariableFont_slnt\,wght", sans-serif;
}

.container {
    width: 26%;
    height: auto;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    text-align: center;
    margin: 3%;
}

.grid-container {
    display: grid;
    padding: 8% 10%;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

#profile {
    width: 25%;
    border-radius: 50%;
}

.grid-item {
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    margin: 8% 0 0;
    padding: 0;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-size: 11px;
    font-weight: 600;
    margin: 2.5% 0 0;
    padding: 0;
}

span {
    color: white;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 400;
    padding: 8% 0 5%;
}

.grid-item.grey {
    background-color: hsl(0, 0%, 20%);
    margin: 3% 0;
    border-radius: 7px;
    cursor: pointer;
}

.grid-item.grey:hover,
.grid-item.grey:hover p {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

a {
    text-decoration: none;
}

p {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

#attribution { 
    color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.attribution p {
    padding: 5px 20px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    span {
        font-size: 11px;
    }
}

@media screen and (max-width: 853px) {
    #profile {
        width: 27%;
    }

    .container {
        width: 35%;
    }

    span {
        font-size: 11px;
    }

    .attribution p {
        font-size: 11px;
    }
}

@media screen and (max-width: 540px) {
    #profile {
        width: 30%;
    }

    .container {
        width: 85%;
    }

    span {
        font-size: 11px;
    }
    
    .attribution p {
        font-size: 11px;
    }
    
}